.footer {
	position: fixed;
	right: 12px;
	bottom: 12px;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	padding: 8px 24px;
	border-radius: 32px;
	opacity: 0.95;
	backdrop-filter: blur(8px);
}

.footer span {
	font-size: 14px;
	color: #09f;
	opacity: 0.8;
}

.footer h4,
.footer h5 {
	margin: 0;
	display: flex;
	padding: 2px, 0;
}

.logo {
	height: 2.5em;
	padding: 0.5em;
	will-change: filter;
	transition: filter 300ms;
	animation: logo-spin infinite 20s linear; /* aquí se aplica la animación */
}
.logo:hover {
	height: 2.9em;
	filter: drop-shadow(0 0 2em #646cffaa);
	transition: height 0.3s ease;
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* prefers-reduced-motion -> la opción de reducción de movimiento es una característica de accesibilidad que ayuda
 a las personas que son sensibles a las animaciones y los movimientos en la pantalla. en producción es importante respetar esto */

/* @media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
} */
