
.listOfGifs {
	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 5px 10px;
	align-items: center;
	height: 1rem;
}

@media (min-width: 600px) {
	:root {
		--results-columns: 3;
	}
}

@media (min-width: 800px) {
	:root {
		--results-columns: 4;
	}
}
