.modal {
	background-color: rgba(44, 44, 44, 0.955);
	backdrop-filter: blur(1px);
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.modalContent {
	background-color: #111;
	width: 300px;
	padding: 10px 20px;
	height: 80vh;
	margin: 10vh auto;
	position: relative;
}

.modalContent .modalBtn {
	display: block;
	margin-bottom: 32px;
}
